/* ---- HEADER ---- */

#top h4 {
  float: left;
}

#top h5 {
  float: right;
}

#middle h4 {
  float: left;
}

#middle h5 {
  float: right;
}

#bottom h4 {
  float: left;
}

#bottom h5 {
  float: right;
}
