/* ---- MAIN ---- */

.subheader {
    text-transform: uppercase;
}
.tCon p {
    font-size: 1.8em;
    max-width: 700px;
    margin: auto;
    padding: 150px 10px;
}
.image img {
    max-width: 200px;
}
.transparent-circle {
    background-color: rgba(204, 0, 102, 0);
    border: 3px solid #fff;
    height: 150px;
    width: 150px;
    -webkit-border-radius: 400px;
    -moz-border-radius: 400px;
}
.cost {
    display: block;
    max-width: 100%;
}
.main .cost {
    position: relative;
    max-width: 100%;
}
.btn-1 {
    padding: 25px 80px;
    margin: 15px auto;
    max-width: 50%;
    letter-spacing: 2px;
    border-radius: 50px;
    border: 3px solid #fff;
    color: #fff;
    overflow: hidden;
}
.cCon p {
    font-size: 1.8em;
    max-width: 700px;
    margin: auto;
    padding: 20px 10px;
}
/* ---- WEATHER ---- */

.weather {
    margin: auto;
    position: relative;
    max-width: 100%;
}
.wcontent {
    width: 100%;
}
.weather > div {
    position: absolute;
    top: 300px;
    left: 0;
}
#cloud {
    fill: #fff;
    margin: 200px 0;
    width: 550px;
    position: relative;
    max-width: 100%;
}
.weather p {
    color: #eddaa6;
    font-size: 2em;
    letter-spacing: 1px;
}
/* ---- FOOTER ---- */

footer {
    position: absolute;
    color: #fff;
    width: 100%;
    /* padding-top: 20px; */

    border-top: solid;
    border-width: 3px;
    /*border-top-style: dashed;*/

    background: #eddaa6;
}
#copyright h3 {
    font-size: 1em;
    font-weight: normal;
    float: right;
    margin: -40px 10px 20px;
}
#footer-content {
    color: #f3f3f3;
    padding: 0;
}
#footer-content a {
    font-size: 1.5em;
    color: #f3f3f3;
    font-family: 'PT Sans', sans-serif;
}
#footer-content li {
    text-decoration: none;
    margin: 20px;
    text-transform: uppercase;
    display: inline;
}
#footer-nav {
    padding: 10px;
    display: block;
    float: left;
    position: absolute;
}
/* ---- MEDIA ---- */

@media only screen and (max-width: 776px) {
    #copyright h3 {
        margin: 20px !important;
        float: none !important;
    }
}
@media only screen and (max-width: 600px) {
    .btn-1 {
      font-size: 1.2em;
    }
    .cost {
        margin: 0;
    }
    .wcontent {
        margin: 0 0 100px;
    }
    .wcontent p {
        font-size: 1.5em !important;
    }
    .weather > div {
        position: absolute;
        top: 280px;
        left: 0;
    }
}
